.new-section{
    background-color: var(--complementary-2);
    color: var(--primary-white);
    padding: 0.5rem 1rem;
    border-radius: 30rem;
    -moz-border-radius: 30rem;
-webkit-border-radius: 30rem;
}

.new-section-after{
    font-size: var(--text-note);
    color: var(--complementary-1);
    position:relative;
    top: -0.5rem;
    width: auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0;
    padding: 0;
    height: calc(30vh + 350px);
    width: 100%;
    position: static;
    background-size: cover;
    height: 90vh;
}

@media (max-width: 900px){
    .new-section-after{
        background: var(--complementary-1);
        color: var(--primary-white);
        position:relative;
        top: 0.2rem;
        padding: 0 2%;
        width: fit-content;
block-size: fit-content;
    }
}