.new-section{
    background-color: var(--complementary-2);
    color: var(--primary-white);
    padding: 0.5rem 1rem;
    border-radius: 30rem;
    -moz-border-radius: 30rem;
-webkit-border-radius: 30rem;
}

.new-section-after{
    font-size: var(--text-note);
    color: var(--complementary-1);
    position:relative;
    top: -0.5rem;
    width: auto;
}

@media (max-width: 900px){
    .new-section-after{
        background: var(--complementary-1);
        color: var(--primary-white);
        position:relative;
        top: 0.2rem;
        width: fit-content;
block-size: fit-content;
    }
}